@charset "UTF-8";

* {
    margin:  0;
    border:  0;
    padding: 0;
    outline: 0;

    list-style:      none;
    text-decoration: none;
    text-rendering:  optimizeLegibility;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-font-smoothing: subpixel-antialiased;
       -moz-font-smoothing: subpixel-antialiased;
        -ms-font-smoothing: subpixel-antialiased;
         -o-font-smoothing: subpixel-antialiased;

    -webkit-user-select: none;
      -webkit-user-drag: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;

    -webkit-text-size-adjust: auto;
}

:root {
    --accent: #E0FF4F;
    --bg: #0f0f12;
    --done: #37eb94;
    --undone: #83BCFF;
}

body {
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

::selection {
    background: none;
}

#tabs,
#links,
#todo,
#todo .add,
#todo::after,
#todo .addTodo,
#panels .links,
.items item::before,
.items item::after,
#tabs ul li:last-child,
#panels, #panels ul,
#tabs .widgets {
    position: absolute;
}

#todo {
    right: 0;
    width: 350px;
    height: 100%;
}

#todo::after {
    content: '';
    display: block;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 4;
}

#todo .items h1 {
    font-weight: 100;
    font-size: 24pt;
    color: rgba(255, 255, 255, .1);
    text-align: center;
    margin: 0 0 1.5em 0;
}

#todo .add {
    top: 30px;
    left: -25px;
    outline: 0;
    border: 0;
    border-radius: 50%;
    background: linear-gradient(to bottom, #fff, #d0d0d0);
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .15), 0 0 0 11px rgba(255, 255, 255, .05);
    transition: transform .2s, box-shadow .2s ease-in-out;
}

#todo .add.active {
    transform: rotateZ(45deg);
    background: linear-gradient(to bottom, #fff, #ffcaca);
}

#todo .add:hover {
    box-shadow: none;
    transform: scale(1.15);
}

#todo .add.active:hover {
    transform: scale(1.15) rotateZ(45deg);
}

#todo .AddToListInput  {
    font-size: 24px!important;
}

.items {
    background: var(--bg);
    padding: 1em;
    box-sizing: border-box;
}

.items item[done] { --state: var(--done); }
.items item[undone] { --state: var(--undone); }

.items item {
    position: relative;
    width: 100%;
    padding: 1em 0 .5em 1em;
    max-height: 100px;
    border-radius: 2px;
    background: #18181d;
    box-shadow: inset 0 2px 0 var(--state),
    0 1px 0 0 rgba(0, 0, 0, .5),
    0 4px 0 0 #18181d,
    0 5px 0 rgba(0, 0, 0, .5),
    0 8px 0 0 #18181d;
    transition: all .3s;
    animation: slide .4s ease;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.items item.remove {
    margin: -100% 0 0 0 !important;
    opacity: 0;
}

.items item p:not(.added-at) {
    color: #e8e8e8;
    font: 400 14px 'Roboto', sans-serif;
    max-width: 250px;
    word-wrap: break-word;

    -webkit-user-select: initial;
}

.items item:not(:last-child) {
    margin: 0 0 1em 0;
}

.items item::before {
    content: '';
    display: block;
    background: var(--bg);
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -22px;
    width: 12px;
    height: 12px;
    box-shadow: 0 0 0 3px var(--state);
    z-index: 5;
    cursor: pointer;
    transition: transform .3s, backgrond .3s;
}

.items item[done]::before {
    content: '\E876';
    color: var(--state);
    font-family: 'Material Icons';
    text-align: center;
    font-size: 11px;
}

.items item::after {
    content: '';
    display: block;
    left: -16px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50px;
    width: 1px;
    background: var(--state);
    transition: all .5s;
    opacity: .5;
}

.items item:hover::before {
    transform: scale(1.4);
}

.items item:hover::after {
    height: 0;
}

.items item:hover span {
    color: var(--state) !important;
}

.items item .added-at {
    font-size: 14px;
    letter-spacing: .5px;
    color: #929292;
    font-weight: 400;
}

.items item .added-at span {
    color: #fff;
    font-weight: 700 !important;
    transition: color .2s;
}

.items item rows {
    height: 100%;
}

.items item .close {
    right: 20px;
    margin: .3em 0 0 0;
    width: 15px;
    height: 15px;
    background: url("../img/close.png") center no-repeat;
    outline: 0;
    border: 0;
    opacity: 0;
    cursor: pointer;
    transition: all .3s;
}

.items item:hover .close {
    opacity: .5;
}

.items item .close:hover {
    opacity: 1;
    transform: scale(2);
}

#links {
    left: 0;
    width: calc(100% - 350px);
    height: 100%;
}

#links .nav {
    color: #fff;
}

#todo .addTodo {
    width: 100%;
    height: 100px;
    top: -110px;
    background: var(--bg);
    transition: top .1s;
    z-index: 1;
}

#todo .addTodo input[type="text"] {
    background: 0;
    outline: 0;
    border: 0;
    box-shadow: inset 0 -1px 0 #fff;
    padding: .5em 0;
    width: 70%;
    color: #fff;
    font: 400 15px 'Roboto', sans-serif;
}

#todo .addTodo.active {
    top: 0;
}

#todo .addTodo input:focus {
    box-shadow: inset 0 -2px 0 #fff;
}


#tabs {
    top: 0;
    width: 40%;
    height: 100px;
    background: #18181d;
    margin: 3.5em auto;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    overflow: hidden;
}

#tabs ul {
    counter-reset: tabs;
    margin: 0 0 0 1.5em;
    height: 100%;
    position: relative;
}

#tabs ul li:not(:last-child)::after {
    content: counter(tabs, upper-roman);
    counter-increment: tabs;
    display: block;
}

#tabs ul li:not(:last-child) {
    width: 35px;
    text-align: center;
    font: 400 13px 'Roboto', serif;
    color: #bbb;
    padding: 6px 0;
    transition: all .1s;
}

#tabs ul li:last-child {
    --flavour: var(--accent);
    width: 35px;
    height: 3px;
    background: var(--flavour);
    bottom: 0;
    transition: all .1s;
}

#tabs ul li[active]:not(:last-child) {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    padding: 6px 0;
}

#tabs ul li[active]:nth-child(2) ~ li:last-child { margin: 0 0 0 35px; }
#tabs ul li[active]:nth-child(3) ~ li:last-child { margin: 0 0 0 70px; }

#panels {
    opacity: 99.5%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    width: 50%;
    height: 630px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background: #18181d;

}


#panels ul {
    --panelbg: transparent;
    --flavour: var(--accent);
    width: 100%;
    height: 100%;
    right: 100%;
    transition: all .5s;
}

#panels ul:nth-child(2),
#tabs ul li[active]:nth-child(2) ~ li:last-child {
    --flavour: #16a2a2;
}

#panels ul:nth-child(3),
#tabs ul li[active]:nth-child(3) ~ li:last-child {
    --flavour: #5b52e4;
}

#panels ul .links {
    box-shadow: inset -1px 0 var(--flavour);
}

#panels ul[active] {
    left: 0;
    z-index: 5;
}

#tabs .widgets {

    width: 100%;
    height: 100%;
    padding: 0 2em;
    color: #fff!important;
    background: #1d1d21;
 
}

.widgets {
    margin-top: 20px;
}
.widgets p {
    color: white;
    margin-right: 20px;
    font-size: 28px;
}


#tabs .time {
    font-weight: 700;
    margin-right: 1em;
}

#tabs .time span {
    font-weight: 400;
    color: grey;
}

#tabs .weather {
    box-shadow: inset 1px 0 rgba(255, 255, 255, .1);
}

#tabs .weather p[temperature] {
    margin: 0 1em 0 1em;
    color: grey;
}

#tabs i {
    font-size: 2em!important;
}

#tabs i[sunny] { color: #F3DE8A; }

#tabs i[cloudy] { color: #88d8d8; }


#panels .links {
    width: 100%;
    height: 100%;
    background: #18181d;
    padding: 5%;
    flex-wrap: wrap;
}

#panels > ul:first-child .links a {
    color: #bfbfbf;
    text-decoration: none;
    font: 700 18px 'Roboto', sans-serif;
    transition: all .2s;
    display: inline-block;
    padding: .4em .7em;
    background: rgba(0, 0, 0, .35);
    box-shadow: 0 3px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, .5);
    border-radius: 2px;
    margin-bottom: .7em;
    
}

#panels > ul:first-child .links a:not(:last-child) { margin-right: .3em }

#panels > ul:first-child .links a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, .5), 0 -4px 5px rgba(0, 0, 0, .1);
    color: #fff;
    background-color: #38ad73;
    cursor: pointer;
}

#panels > ul:first-child .links li:not(:last-child) {
    box-shadow: 0 1px 0 rgba(255, 255, 255, .07);
    padding: 0 0 .5em 0;
    margin-bottom: 1.5em;
}

#panels > ul:first-child .links li h1 {
    color: #383838;
    font-size: 1em;
    margin-bottom: .5em;
    font-weight: 700;
    letter-spacing: 1px;
}

#panels > ul:not(:first-child) li {
    padding: .5em;
    /* display: inline; */
}

#panels > ul:not(:first-child) li a {
    color: grey;
    font: 700 16px 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
}

#panels > ul:not(:first-child) li a:hover {
    color: #fff;
}

#panels > ul:not(:first-child) li a:hover::before {
    display: inline;
}

#panels > ul:not(:first-child) li a::before {
    content: '> ';
    font-weight: 400;
    display: none;
}

.weather .edit {
    width: 100%;
    height: 20%;
    background: #1f1f1f;
    text-transform: uppercase;
    font: 600 14px 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    border: 0;
    margin: 100px 0 0 0;
    cursor: pointer;
    transition: all .2s;
}

.widgets:hover .edit {
    margin: 0;
}

.weather-config {
    width: 100%;
    height: 15%;
    background: #1f1f1f;
    margin: -100% 0 0 0;
    transition: all .2s;
    z-index: 2;
}

.weather-config input[name="color"] {
    width: 100%;
    padding: .6em;
    border: 0;
    background: 0;
    font-size: large!important;
    box-shadow: inset 0 -2px #fff;
    font: 500 2em 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

.weather-config.show {
    margin: 0;
}

#search {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    top: -100%;
    transition: all .5s ease-in-out;
}

#search.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

#search div {
    position: relative;
    width: 80%;
}

#search input {
    border: 0;
    outline: 0;
    width: 100%;
    box-shadow: inset 0 -2px #737373;
    padding: .5em 0;
    background: none;
    font: 500 9em 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #fff;
}

#search input:focus {
    box-shadow: inset 0 -2px #fff;
}

#search input::selection {
    background: #000;
    color: #fff;
}

#search .close {
    background: 0;
    border: 0;
    outline: 0;
    color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 15px;
}

#search .close:hover {
    filter: opacity(.5);
}

.search-engines {
    list-style: none;
    color: #7d7d7d;
    display: block;
    display: flex;
    top: 50px;
    left: 0;
    margin: 1em 0 0 0;
}

.search-engines li p {
    cursor: default;
    transition: all .2s;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}


.search-engines li {
    margin: 0 1em 0 0;
}
x
.search-engines li.active {
    color: #fff;
    font-weight: 700;
}


.syncContainer {
    position: absolute;
    right: 0;
    margin: 10px;
    display: flex;
    
}
.syncButtonContainer {

}
#syncButton {
    padding: 5px;
    font-size: xx-small;
    background-color:  var(--bg);
    color: gray;
    border-radius: 50%;
    transition: 0.33s;
}
#syncButton:hover {
    cursor: pointer;
    color: white;
}

.syncActive {
    color: greenyellow!important;
}

#header {
    position: relative;
    margin-right: 350px;
}
.headerWrapper {
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.headerWrapper > span{
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 8px;
    font-style: oblique;
}

/* login form */
.loginFormContainer, .registerFormContainer {
    display: none;
    position: fixed;
    z-index: 10;
    
}
.box {
    top: 50%;
    left: 50%;
    display: block;
    text-align: center;
    color: white;
    border-radius: 5px;
    opacity: 95%;
    background: #18181D;
    /* z-index: -1; */
    box-shadow: 10px 10px 6px 0px rgb(0, 0, 0, 0.7);
}

.box h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    /* z-index: 1; */
}

.box input[type="text"],
.box input[type="password"] {
    width: 12rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    outline: none;
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.box input[type="submit"] {
    width: 10rem;
    border: 2px solid white;
    border-radius: 23px;
    text-align: center;
    margin: auto;
    padding: 10px;
    outline: none;
    background: none;
    color: white;
    text-transform: uppercase;
}

.box input[type="submit"]:hover {
    cursor: pointer;
    color: greenyellow;
    background-color: transparent;
    transition: 0.2s;
    box-shadow: 0px 0px 20px 3px rg#DEFC50;;
}

.box input[type="submit"]:focus {
    background-color: transparent;
    transition: 0.2s;
    box-shadow: 0px 0px 20px 3px #DEFC50;;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    border: 2px solid #DEFC50;;
    box-shadow: 0px 0px 20px 1px #DEFC50;
    transition: 0.2s;
}

.register, .login {
    margin-top: -15px;
    padding-bottom: 15px;
}
#register, #login {
    color: white;
    cursor: pointer;
    transition: 0.33s;
}

#register:hover {
    color: greenyellow;
}

/* register form */

#login:hover {
    color: greenyellow;
}

